{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
  {{block.super}}
  <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">{{user_x.username|title}}'s profile</h1>
  <div class="row">
    <div class="col-md-6">
    {% if user_x.profile.profile_pic %}
      <img src="{{user_x.profile.profile_pic}}" width="300px" height="300px" alt="{{user.username}}">                
    {% else %}
      <img src="https://cdn4.iconfinder.com/data/icons/human-user-business-person-avatars/100/23A-1User-512.png" width="300px" height="300px" alt="Profile photo">              
    {% endif %}
    </div>
    <div class="col-md-6">
      {% if user_x.profile.status %}
        <h6>Status: {{user_x.profile.status}}</h6>
      {% else %}
        <h6>Status: .....</h6>
      {% endif %}
    </div>    
  </div>
</div>
<hr>

{% endblock content %}
