#id_profile_pic{  
  background-color: black;
  color: white;
  width:200px;
  transition: all .5s ease-Out;
  border-radius: 20px 0px 20px 0px;
  cursor: pointer;
  overflow: hidden;
}
#id_profile_pic:hover{
  background-color: black;
  color: aqua;
  border-radius: 0px 20px 0px 20px;
  transform: translateY( -7px); 
  transition: all .5s ease-Out;
}
