body{  
  background-image: linear-gradient(to right top, #e7e6f6, #e4e5f5, #e2e4f4, #dfe3f3, #dce2f2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;  
  width: 100%;    
  /* font-family: 'Inria Serif', serif; */
}
.info {
  margin: 5px 0;
  font-style: italic;
}

.message-container {
  margin: 5px 0;
}

.message-container .username {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

.me,
.username.me {
  font-weight: bold;
  color: blue;  
}

.message-container .username.me {
  display: inline-block;
  margin-right: 5px;  

}
.chat_nav{
  display: none;
}

