.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.box {
	margin: 10px;
	width: 300px;
	height: 490px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.box h1 {
	color: #fff;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
	width: 130px;
	height:130px;
	margin: 120px auto;
	position: relative;
	border-radius: 100px;
}
.poster h4 {
	top: 16px;
	color: #fff;
	position: relative;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
}
.one {
	background: url('https://images.unsplash.com/photo-1562159956-b5c29ef13245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.two {
	background: url('https://images.unsplash.com/photo-1585798063956-281cf0f11948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=800&q=60');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url('https://images.unsplash.com/photo-1530999651725-59e0e1761b3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.four {
	background: url('https://images.unsplash.com/photo-1569073120512-05362a6b92e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.five {
	background: url('https://images.unsplash.com/photo-1507808973436-a4ed7b5e87c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six {
	background: url('https://images.unsplash.com/photo-1556807166-18a5c02aa7c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.music_stuff{
  background-image: url('https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/310/272310.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;  
  transition: all .5s ease-Out;  
}
.music_stuff:hover{
  transition: all .5s ease-Out;  
  box-shadow: 6px 6px black;  
}
.game_stuff{
  background-image: url('https://mspoweruser.com/wp-content/uploads/2018/03/Logitech-G560-Gaming-Speakers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
  transition: all .5s ease-Out;
}
.game_stuff:hover{
  transition: all .5s ease-Out;  
  box-shadow: 6px 6px black;  
}

.content_home{
  font-family: 'Permanent Marker', cursive;
  color: rgb(18, 223, 238);
  font-weight: bold;
  padding-top:13%;
  font-size: 100px;
  text-align: center;  
}
h5{
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
  margin-top: 20px;
}

