{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
  {{block.super}}  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/room_detail.css" %}">
{% endblock styles %}

{% block content %}
  <div class="subpage">		
	<!-- One -->
		<section id="One" style="background-image: url('https://images.unsplash.com/photo-1511367734837-f2956f0d8020?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1388&q=80');" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>“Think before you speak. Read before you think.” – Fran Lebowitz</p>
					<h2>{{room.name}} Room "LIVE"</h2>
				</header>
			</div>
		</section>
	<!-- Two -->
		<section id="two" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<p>{{room.description}}</p>							
						</header>
            <div class="row">
              <div class="col-md-6" style="background-image:url('https://images.unsplash.com/photo-1516972238977-89271fb2bab8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');padding-bottom:15%">                          
                <form id="message-form" style="padding-top:10%">
                  <div class="field">
                    <h4><label class="label"><b>Message</b></label></h4>
                    <div class="control">
                      <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3" autofocus></textarea>
                    </div>
                  </div>
                  <button type="submit" class="button">Send</button>
                </form>          
              </div>
              <div class="col-md-6" style="overflow:scroll; height:500px;width:250px">                
                <div id="messages"></div>                          
              </div>
            </div>          
					</div>
				</div>
			</div>
		</section>
  </div>              
{% endblock content %}
{% block scripts %}    
  {{block.super}}
  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(function() {      
      let $chatWindow = $("#messages");
      
      let chatClient;
      
      let roomChannel;
      
      let username;
      
      function print(infoMessage, asHtml) {
        let $msg = $('<div class="info">');
        if (asHtml) {
          $msg.html(infoMessage);
        } else {
          $msg.text(infoMessage);
        }
        $chatWindow.append($msg);
      }
    
      function printMessage(fromUser, message) {
        if (fromUser === username) {
          let $user = $('<img src="https://thisisme.org.nz/assets/Uploads/ThisIsMe-logofinal-003.jpg" class ="rounded-circle" width="40px" height="40px"> <span class="username">').text(fromUser + ":");
          $user.addClass("me");
          let $message = $('<span class="message">').text(message);
          let $container = $('<div class="message-container personal" style="background-image: linear-gradient(to right top, #d4d4d4, #dfdfdf, #e9e9e9, #f4f4f4, #ffffff);;border-radius:10px 10px 10px 10px ">');
          $container.append($user).append($message);
          $chatWindow.append($container);
          $chatWindow.scrollTop($chatWindow[0].scrollHeight);
        }
        else{
        let $user = $('<img src="https://cdn2.iconfinder.com/data/icons/web-application-icons-part-2/100/Artboard_75-512.png" class ="rounded-circle" width="40px" height="40px"> <span class="username">').text(fromUser + ":");
        let $message = $('<span class="message">').text(message);
        let $container = $('<div class="message-container" style="background-image: linear-gradient(to right top, #928f8f, #acaaaa, #c7c6c6, #e2e2e2, #ffffff);border-radius:10px 10px 10px 10px">');
        $container.append($user).append($message);
        $chatWindow.append($container);
        $chatWindow.scrollTop($chatWindow[0].scrollHeight);
        }
      }
              
      $.getJSON(
        "/token",
        {
          device: "browser"
        },
        function(data) {        
          username = data.identity;
          print(
            "You logined as: " +
              '<span class="me">' +
              username +
              "</span>",
            true
          );                  
        //check chanel
          Twilio.Chat.Client.create(data.token).then(client => {            
            chatClient = client;            
            chatClient.getSubscribedChannels().then(createOrJoinChannel);
          });
        }
      );

      function createOrJoinChannel() {      
        let channelName = window.location.pathname.split("/").slice(-2, -1)[0];
        print(`You joined the "${channelName}" chat channel...`);
        chatClient
          .getChannelByUniqueName(channelName)
          .then(function(channel) {
            roomChannel = channel;
            setupChannel(channelName);
          })
          .catch(function() {          
            chatClient
              .createChannel({
                uniqueName: channelName,
                friendlyName: `${channelName} Chat Channel`
              })
              .then(function(channel) {
                roomChannel = channel;
                setupChannel(channelName);
              });
          });
      }     

      function setupChannel(name) {
        roomChannel.join().then(function(channel) {
          print(
            `Joined channel ${name} as <span class="me"> ${username} </span>.`,
            true
          );
          channel.getMessages(30).then(processPage);
        });
        
        roomChannel.on("messageAdded", function(message) {
          printMessage(message.author, message.body);
        });
      }

      function processPage(page) {
        page.items.forEach(message => {
          printMessage(message.author, message.body);
        });
        if (page.hasNextPage) {
          page.nextPage().then(processPage);
        } else {
          console.log("Done loading messages");
        }
      }

      let $form = $("#message-form");
      let $input = $("#message-input");
      $form.on("submit", function(e) {
        e.preventDefault();
        if (roomChannel && $input.val().trim().length > 0) {
          roomChannel.sendMessage($input.val());
          $input.val("");
        }
      });
    }); 

  </script>

{% endblock scripts %}